<a href="https://colab.research.google.com/github/Andrei-Bona/CPE-031-VDA-CPE-21S4/blob/main/Exercise2_VDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [24]:
import pandas as pd

mydataset = {'animals': ["Cat", "Dog", "Rabbit"],'height': [13, 17, 8]}

myvar = pd.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Example 2

In [22]:
a = ["Andrei", 1.1 , 1 , 7 ,2]

myvar = pd.Series(a)
print(myvar,"\n")
print(myvar[3])

0    Andrei
1       1.1
2         1
3         7
4         2
dtype: object

7

Example 3

In [25]:
data = {
    "age": [42, 38, 39],
    "weight": [50, 40, 45]}

myvar = pd.DataFrame(data)
print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45