<a href="https://colab.research.google.com/github/Andrei-Bona/CPE-031-VDA-CPE-21S4/blob/main/Exercise2_VDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [ ]:
import pandas as pd

mydataset = {'animals': ["Cat", "Dog", "Rabbit"],'height': [13, 17, 8]}

myvar = pd.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Example 2

In [ ]:
a = ["Andrei", 1.1 , 1 , 7 ,2]

myvar = pd.Series(a)
print(myvar,"\n")
print(myvar[3])

0    Andrei
1       1.1
2         1
3         7
4         2
dtype: object

7

Example 3

In [34]:
data = {
    "age": [42, 38, 39],
    "weight": [50, 40, 45]}

myvar = pd.DataFrame(data)
print(myvar,"\n")
print(myvar.loc[0], "\n")
print(myvar.loc[[2]])

   age  weight
0   42      50
1   38      40
2   39      45

age       42
weight    50
Name: 0, dtype: int64

   age  weight
2   39      45

Example 4

In [73]:
#series using data frames
s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 7])

dframe = pd.DataFrame([s1, s2, s3, s4])
dframe1 = dframe.drop(0)
print(dframe1)

   0   1   2
1  1   5   9
2  2   6   7
3  5  10  15

Example 5

In [ ]:
#creating multi-dimentional table
s4 = pd.Series([5, 10, 15])
dframe = pd.DataFrame(data = [s1, s2, s3, s4], index = [0, 1, 2, 3], columns = [0, 1, 2, 3])
print(dframe)

#Challange 2

How are you going to delete indices no 0, 1, 3 leaving only 2?